*{
  margin: 0%;
  padding: 0%;
}



.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 15rem;
  width: 50rem;
  margin-left: 15%;
  margin-top: 5%;
  border-radius: 4px;
}
 .h1{
  padding: 5%;
 }


#sentimiento{
  padding: 1%;
  margin: 2%;
  border-radius: 4px;
  border: none;
}
.form{
  width: 100%;
  margin-left: 55%;
  
}
.contenedor-btn{

  
}
.btn{
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  width: 10%;
  font-weight: 400;
  font-size: smaller;
  border: none;
  cursor: pointer;
}

/*colores de fondo del body*/
.enojado, .enojado-btn {
  background-color: rgb(150, 52, 52);
}

.tranquilo, .tranquilo-btn {
  background-color: rgb(138, 170, 249);
}
.feliz,.feliz-btn {
  background-color: rgb(235, 225, 82);
}
.triste,.triste-btn {
  background-color: rgb(0, 115, 255);
}


/*//////////////////////////////*/

/*Colores de fondo de la seccion*/

.enojado-s {
  background-color: rgb(207, 88, 88);
}

.tranquilo-s {
  background-color: rgb(188, 199, 234);
}
.feliz-s {
  background-color: rgba(208, 192, 12, 0.993);
}
.triste-s {
  background-color: rgb(91, 162, 229);
}

.main{
  margin: 10%;
}




